.box_sub{
    text-align: center;
    width: 1.8rem;
    height: 1.1rem;
    position: absolute;
    top: 0.45rem;
    right: 0.2rem;
    background: url(../images/subsidy.png) no-repeat;
    background-size: 1.8rem 1.2rem
}
.subsidy1{
    color: #ffffff;
    text-align: center;
    margin-top: 0.11rem;
    font-size: 0.32rem;
}
