		body{    background: #f5f5f5;line-height: normal;}
		.flex{display: flex;display: -webkit-flex;} 
        .comp-evaluate .evaluate-item{border-top:1px solid #e2e2e2!important;border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:1px 0 0 0}        
        .comp-evaluate a:first-child .evaluate-item{border-top:none!important;border-image:none}
        .page-wrapper{overflow:auto}
        .p-evaluate{width:auto}
        .view-more.yellow:focus,.view-more.yellow:hover{color:#ffb400}
        .view-more.yellow:active{background-color:#F5F5F5}
        .anchors{height:45px;line-height:45px;width:100%;background-color:#fff;-webkit-transition:-webkit-transform .3s ease!important;transition:-webkit-transform .3s ease!important;transition:transform .3s ease!important;transition:transform .3s ease,-webkit-transform .3s ease!important; display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;flex-direction: row;}
        .anchors.fix{position:fixed;top:0;left:0;right:0;z-index:1000;border-bottom:1px solid #e2e2e2;background:#ffffff}
        .anchors li{display:inline-block;height:45px;line-height:45px;-webkit-box-flex: 1;-moz-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1; }
        .anchors li a{display:inline-block;width:100%;text-align:center;font-size:15px}
        .anchors li a.am-active{border-bottom:2px solid #26c4b6;color:#26c4b6;height: 43px;line-height: 43px;}
        .job-list-sty .item{overflow:hidden;padding-right:80px;padding:10px 15px;border-top:1px solid #e2e2e2;position:relative}
        .job-list-sty .item:first-child{border-top:none}
        .job-list-sty .item .salary,.job-list-sty .item .sign,.job-list-sty .item .welfare{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
        .job-list-sty .item .salary{font-size:17px}
        .job-list-sty .item .sign{position:absolute;right:15px;top:26px}
        .job-list-sty .btn-yellow{display:inline-block;padding:6px 16px}
        .job-list-sty .item .welfare{font-size:12px;color:#999}
        .welfare-sty a{color:#333}
        .comp-scene{height:100px;height:auto;position:relative}
        .comp-scene img{width:100%;height:200px}
        .comp-scene .look{border-radius:4px;border:1px solid #fff;padding:2px 6px;background-color:transparent;color:#fff;position:absolute;right:15px;top:10px;}
        .comp-scene .name{font-size:18px;color:#fff;position:absolute;bottom:35px;left:0;width:100%;padding-left:15px;box-sizing:border-box;padding-right: 40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
        .comp-scene .name span{max-width:78%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;display:inline-block;vertical-align:middle;width:auto}
        .comp-scene .name .certify-label{background-color:#ffc600;color:#fff;border-radius:2px;height:16px;display:inline-block;line-height:16px;padding:0 7px;margin-right:5px;font-size:12px;margin-left:5px;vertical-align:middle}
        .comp-scene .img-num{color:#fff;font-size:12px;position:absolute;bottom:10px;left:15px;line-height:20px}
        .comp-scene .icon-img{background:url(../images/m-job.png) no-repeat;width:15px;height:15px;display:inline-block;background-position:0 -538px;margin-right:5px;background-size:32px;vertical-align:middle}
        .comp-scene .icon-heart{background:url(../images/m-job.png) no-repeat;width:40px;height:35px;display:inline-block;background-position:5px -457px;background-size:30px;vertical-align:middle;position:absolute;right:0px;top:-8px;z-index:1000}
        .comp-scene .icon-heart.active{background-position:5px -426px}
        .comment{position:relative;line-height:45px;padding:0 15px;border-bottom:1px solid #e2e2e2}
        .comment .item-stars{display:inline-block}
        .comment .item-stars .yellow{margin-left:5px;letter-spacing: 0;}
        .comment .link{float:right;padding-right:15px;color:#999}
        .plr0{padding-left:0!important;padding-right:0!important}
        .anchors.fix,.comment{border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:0 0 1px 0}
        .job-list-sty .item{border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:1px 0 0 0}
        .job-list-sty .item:first-child{border-image:none;border-width:0}
        .doc-content-scroll{position:relative;overflow:auto;width:100%}
        .scrollspy-nav{top:0;z-index:100;background:#0e90d2;width:100%;padding:0 10px}
        .scrollspy-nav ul{margin:0;padding:0}
        .scrollspy-nav li{display:inline-block;list-style:none}
        .scrollspy-nav a{color:#eee;padding:10px 20px;display:inline-block}
        .scrollspy-nav a.am-active{color:#fff;font-weight:700}
        .correction{height: 45px;line-height: 45px;text-align: center;}
        .correction .icon-notice{background:url(../images/m-job.png) no-repeat;width: 20px;height: 20px;display: inline-block;background-position: 0px -656px;background-size: 32px;vertical-align: middle;margin-right: 5px;}
        .img-bg{min-height: 70px;position: absolute;left: 0;right: 0;bottom: 0;z-index: 10;background-color: rgba(0,0,0,0.4);}
        .fig{width: 100%;height: 200px;max-width: 485px;margin: 0 auto;overflow: hidden;background-repeat: no-repeat;background-position: center;background-size: cover;}
        /*  */
        .footer-box{padding:0;background-color:#fff;z-index:10001;position:fixed;left:0;right:0;width:100%;border-top:1px solid #ddd;bottom:0px;-webkit-transform: translate3d(0,400px,0);transform: translate3d(0,400px,0);-webkit-transition: -webkit-transform .3s ease-in-out;transition: -webkit-transform .3s ease-in-out;transition: transform .3s ease-in-out;transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;}
        .footer-box.in{bottom:0;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
        .certify{-webkit-tap-highlight-color: rgba(0,0,0,.3);background-color:#fff;height:40px;line-height:40px;color:#ccc;padding:0 15px;font-size:13px}
        .certify-label{background-color:#ffc600;color:#fff;border-radius:2px;height:18px;display:inline-block;line-height:18px;padding:0 7px;margin-right:5px}
        .standards{padding:10px 0}
        .standards li{margin-bottom:3px;}
        .standards li:before{content:"";background:url(../images/m-job.png) no-repeat;width:17px;height:17px;background-size:30px;background-position:-2px -663px;display:inline-block;vertical-align:-4px;margin-right:5px}
        .specialService{width:100%;margin-top: -10px;}
        .specialService .circle{padding:18px 0;border-radius:100%;color:#fff;font-size:17px;width:80px;margin:0 auto 10px auto}
        .specialService .circle1{background-color:#f09e61}
        .specialService .circle2{background-color:#61b5f0}
        .specialService .circle3{background-color:#f0618d}
        .specialService li{font-size: 13px;width:33.33%;display:inline-block;float:left;text-align:center;line-height:1.3;color: #333;}
        .footer-box .block-title{padding-left: 0;}
        .footer-box .block-title:before{display: none;}
        .close-div{-webkit-tap-highlight-color: rgba(0,0,0,.3);height: 40px;line-height: 40px;text-align: center;border-top: 1px solid #eee;border-image: url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image: url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width: 1px 0 0 0;}
        .block-each{margin-top:0;padding:0 15px;border-top:none;border-left:0;border-right:0}
        .block-each .block-det-each,.block-each .block-title{border-bottom:none;border-image:none}
        .block-each .block-title{font-size:16px;color:#2bb7ac}
        .block-each .block-det-each{margin:0;padding:8px 0 8px 75px}
        .block-each .block-con{color:#666;padding-left: 0;padding-right: 0;}
        .block-each .h2-g{font-size:14px;font-weight: 600;}
        .area-sty span{
            width: 100%;
            overflow: inherit;
            text-overflow: inherit;
            white-space: inherit;
            text-indent: 0.2rem;
            font-size: .28rem;
    		color: #354242;
        }
        .job-item-salary{
            vertical-align:middle;
            height :37px;
            position:relative
        }

        /*新加的样式*/
        .jian_jie{
            display:block;
            width:1.3rem;
            height:0.48rem;
            line-height:0.48rem;
            text-align:center;
            color:#ffffff;
            font-size:0.26rem;
            position:absolute;
            border:1px solid #ffffff;
            top:0.28rem;
            right:0.3rem;
            border-radius:0.05rem;

        }
        .arrow-more{
            margin-top:-27px;
        }
        .comment_one{
            min-height:0.5rem;
            position:absolute;
           /* background:red;*/
            top: 0.7rem;
            left: 0.35rem;
        }
        .comment_one span{
            display:inline-block;
            line-height:0.5rem;
            text-align:center;
            color:#cbcbcb;
            font-size:0.24rem;
            background: #f0f0f0;
            width:1.4rem;
            height:0.5rem;
            margin-right:0.1rem;
            border-radius:0.03rem;
        }
        .span-recruit{
            background-color: #00baad;
            border-radius: 4px;
            color: #fff;
            display: inline-block;
            text-align: center;
            line-height: 18px;
            font-size: 12px;
            margin-right: 5px;
            vertical-align: -3px;
            width: 0.1rem;
            height: 0.3rem;
        }
        .btn-yellow{
            background-color: #2db7ac;
        }
        .comment_first{
            width:100%;

        }
        .comment_m{
            padding: 0 0.3rem;
        }
        .comment_km{
          /*  position:relative;*/

        }
        .p_title{
            color:#333333;
            font-size:0.3rem;    margin-right: .1rem;
        }
        .p_content{
            color:#999999;
            font-size:0.24rem;
            position:absolute;
            top:0.88rem;
            left:1.25rem;
            line-height: 0.3rem;
			min-height: 0.3rem;
    		justify-content: space-between;
        }
        .tu_com{
            width:1.04rem;
            height:1.04rem;
            border-radius:50%;
            position:absolute;
            left:0;
            top:0.3rem;
        }
        .tu_com img{
            height:100%;
            width: 100%;
            border-radius:50%;
        }
        .p_m{
color: #11221F;
font-size: 0.3rem;
width: 6.5rem;
        }
        .ul_img{
            height:1.4rem;
           /* position:absolute;
            top:1.8rem;
            left:0;*/

        }
        .ul_img li{
            display:inline-block;
            height:1.2rem;
            width:1.2rem;
            margin-right:0.1rem;
        }
        .ul_img li img{
            height:100%;
            width:100%;

        }
        .ask_me{
            position:absolute;
            width:1.3rem;
            height:0.36rem;
            background:rgba(255,255,255,1);
            border-radius:18px;
            line-height:0.36rem;
            text-align:center;
            font-size:0.22rem;
            color:rgba(255,180,0,1);
            border:1px solid #ffc230;
            right:0.3rem;
            top:0.23rem;

        }
        .p_mo{
            font-size:0.28rem;
            color:#16221F;
            display: -webkit-flex;
            display: flex;  
            align-items: center;   
    		height: .6rem;
        }
        .c333{
         font-weight:600;
        }
        .comment_km{
            margin:0 auto;border-bottom:1px solid #ddd;/*height:3.3rem;*/
        }
        
/*         edit 2018 12 14 */
        .img-bg{background-color: transparent;}
        .comment .link {font-size: .24rem;}
        .comment .link  span{color:#25BFA7;}
        .company-info .title-g.bg-white {color: #0B231F;font-size: .36rem;border: none;border-image: none;-webkit-border-image: none;}
/*         在招岗位         */
        .item .name{font-size: .32rem;color: #11221F;}
        .job-list-sty .item .salary {font-size: .32rem;color: #E9675C;    height: auto;}
        .job-list-sty .btn-yellow {
        	 border: 1px solid #FF963D;
		    color: #FF963D;
		    background-color: transparent;
		    padding: 0;
		    font-size: .50rem;
		    width:2rem;
		     line-height:.92rem;
		     height:.92rem;
    		bottom: -0.32rem;
    		right: -1rem;
		    position: absolute;
            text-align: center;
            border-radius: 0.7rem;
            text-decoration: none;          
/*     // 安卓webview中line-height不垂直居中问题 */
	        transform: scale(0.5);	        
	        -webkit-transform: scale(0.5) ;
    		-ms-transform:  scale(0.5);
    		-moz-transform:  scale(0.5);
	        transform-origin: 0% 0%;
	        -webkit-transform-origin: 0% 0%;
	        -ms-transform-origin: 0% 0%;
	        -moz-transform-origin: 0% 0%;	        
		}
        .over{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
        .job-list-sty .item{position: relative;padding: 0;    margin: 0px 15px 10px 15px; padding-bottom: .1rem;    height: 1.5rem;}
        .job-list-sty .item li{width:80%;    line-height: .5rem;}
        .box_sub {
		    height: .85rem;
		    width: 1rem;
		    position: absolute;
		    top: 0;
		    right: 0;
		    background: url(../images/bu.png) no-repeat;
		    background-size: contain;
		}
		.subsidy1 {
		    font-size: .23rem;
		    text-align: center;
		    color: #E73738;
		    font-weight: 600;
		    height: .8rem;
    		line-height: 1.15rem;
			width: .85rem;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.welfare  span{
		    display: inline-block;
		    background-color: #ecf2fe;
		    font-size: .44rem;
		    color: #4F7FF0;
		    border-radius: .04rem;
		     transform: scale(0.5);	        
	        -webkit-transform: scale(0.5) ;
    		-ms-transform:  scale(0.5);
    		-moz-transform:  scale(0.5);
	        transform-origin: 0% 0%;
	        -webkit-transform-origin: 0% 0%;
	        -ms-transform-origin: 0% 0%;
	        -moz-transform-origin: 0% 0%;	
	        margin-right: -1.2rem;
		    width: 3rem;
		    overflow: hidden;
		    text-align: center;        
		    box-sizing: border-box; 
		    line-height: 1;
		    height: auto;
		    padding: .1rem 0;
		    }
	    .title-g{border-bottom: none;    margin: 10px 15px;    padding: 0;}
	    a.getGold{
		    font-size: .56rem;
		    color: #fff;
		    width: 3.6rem;
		    height: 1rem;
		    line-height: 1rem;
		    background-color: #FF963D;
		    border-radius: .8rem;
		    display:block;
		    text-align: center;
		    position: absolute;
		    right: -1.8rem;
		    top:0;
		    transform: scale(0.5);	        
	        -webkit-transform: scale(0.5) ;
    		-ms-transform:  scale(0.5);
    		-moz-transform:  scale(0.5);
	        transform-origin: 0% 0%;
	        -webkit-transform-origin: 0% 0%;
	        -ms-transform-origin: 0% 0%;
	        -moz-transform-origin: 0% 0%;	 
		 }    
        .p_name{position:absolute;left:1.25rem;top:0.35rem;display: flex;}
        .p_content {color: #838D8D;width: 5rem;}        
       .mm_com{height:1.85rem;position:relative}
       .mm_com  .welfare {position: absolute;top: 1.28rem;left:1.25rem;}
        .ul_img {margin-top: .15rem;}
        .answer {
			    position: relative;
        		margin: .1rem 0 0rem 0;
        		font-size: .28rem;
        		color: #384242;
        		margin-bottom: -.5rem;
       }
       .answer p {   		width:13rem;
           padding:0.32rem .4rem;
		    line-height: 1.5;
		    font-size:.56rem; 
		    background-color: #f2f2f2;
    		border-radius: 0.08rem;
    		transform: scale(0.5);	        
	        -webkit-transform: scale(0.5) ;
    		-ms-transform:  scale(0.5);
    		-moz-transform:  scale(0.5);
	        transform-origin: 0% 0%;
	        -webkit-transform-origin: 0% 0%;
	        -ms-transform-origin: 0% 0%;
	        -moz-transform-origin: 0% 0%;	 
       }
       .answer p span {color: #FF963D;}
        .comment_km {border-bottom: 1px solid #e5e5e5;}
        .p_mo span{
			font-size: .42rem;
		    color: #fff;
		    background-color: #FF963D;
		    border-radius: .8rem;
		    width: .8rem;
		    height: .8rem;
		    line-height: .8rem;
		    display: inline-block;
		    text-align: center;
		    margin-right: -.2rem;
		    transform: scale(0.5);
		    -webkit-transform: scale(0.5);
		    -ms-transform: scale(0.5);
		    -moz-transform: scale(0.5);
		    transform-origin: 0% 0%;
		    -webkit-transform-origin: 0% 0%;
		    -ms-transform-origin: 0% 0%;
		    -moz-transform-origin: 0% 0%;
		    margin-top: .34rem;
		    position: absolute;
		    top: 0.08rem;
		    margin: 0;
		} 
        #achor-consult .c333{margin-bottom: .3rem;display: block;}
		.comp-introduce li{color: #354242;}
        .comp-introduce .text {color: #354242;}
        .correction {font-size: .24rem;color: #25BFA7;height: .85rem;line-height: .85rem;text-align: center;border-top: 1px solid #DDDDDD;}        
         .area-sty   img{width: 0.21rem;height: 0.26rem;}
	    .area-sty {
		    display: flex;
		    display: -webkit-flex;
		    justify-content: flex-start;   
		     height: .3rem;
		    align-items: center;
	    }
     .divider{background-color: #f5f5f5;border: none;} 
       .job-list-sty .item .salary {margin-bottom: .1rem;}    
               
       .arrow-more{
       		background: url(../images/arrRight.png) no-repeat;
       		
	    	background-size: cover;
	   		margin-top: -12px;
    		right: 10px; 	
	   }
	   
	   .comment .link {padding-right: 10px;align-items: center;}
	   #a1_comment img{margin-left: .2rem;width: .12rem;
    height: .2rem;}
	.p_name { align-items: center;}
	

/* 星星样式 */
.item-stars .stars{display: flex; align-items: center;}
.item-stars .stars .star.star-all {
      background: url(../images/star/startAll.png) no-repeat;
      background-position: 0 0!important;
    background-size: contain;      
}
.item-stars .stars .star.star-half{
	background: url(../images/star/startHalf.png) no-repeat;
	background-position: 0 0!important;
    background-size: contain;
}
.item-stars .stars .star {	    
	background-size: contain;;
    width: .26rem;
    height: .24rem;
    margin-right: .05rem;
    background: url(../images/star/startNone.png) no-repeat;
    background-position: 0 0!important;
    background-size: contain;
}
    .p_mo{position: relative;}
    .p_mo p{width: 8rem;padding-left: .5rem; }
    
    
    
    
    
    
    
    
    
    
	   
	   