@charset "utf-8";
.contact-way,.er-code,.poper-success,.schedule{height:auto;width:80%;z-index:10001;background-color:#fff;border-radius:6px;border:1px solid #eee;max-height:430px;overflow-y:auto;position:fixed;left:50%;top:50%;margin-top:0;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transition:transform .2s ease-out;-webkit-transition:-webkit-transform .2s ease-out;-o-transition:-o-transform .2s ease-out}
.contact-way .header,.er-code .header,.poper-success .header,.schedule .header{margin:15px 0;border-top-left-radius:8px;border-top-right-radius:8px;color:#333;font-size:14px;text-align:center;height:auto;line-height:20px;border:none}
.poper-success .header{height:40px;line-height:40px;margin:0}
.poper-success .content{text-align:center;padding:10px}
.poper-success .content p{color:#666}
.poper-success .btn-yes{border-radius:6px;margin-bottom:5px;font-size:14px;height:40px;line-height:40px}
.block-each{padding:0;margin-top:0;border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:0 0 1px 0}
.company-info .short .btn-group{border-top:1px solid #ddd;border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:1px 0 0 0}
.bottom-fixed li.collect i{background-position:0 -354px;background-size:30px;width:30px;height:30px;top:11px;margin-left:-15px}
.bottom-fixed li.collect.active i{background-position:0 -399px}
.company-info .short .btn-group li:first-child{position:relative}
.company-info .short .btn-group li:first-child:before{content:"";width:1px;position:absolute;right:1px;height:38px;top:4px;border:1px solid #ddd;border-width:1px;border-left:none;border-top:none;border-bottom:none;border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:0 1px 0 0}
.contact-way .contact-form,.contact-way .foot,.poper-success .foot,.schedule .foot,.schedule .schedule-list{margin:10px auto;width:85%}
.foot .btn-g{height:35px;line-height:35px;font-size:14px;}
.poper-success .foot{text-align:center}
.schedule .header{font-size:16px}
.schedule .schedule-list li{cursor:default;text-align:center;border:1px solid #ddd;margin-bottom:10px;padding:8px 0;border-radius:4px}
.schedule .schedule-list li.disabled,.schedule .schedule-list li.disabled:active{color:#ccc;border-color:#eee;background-color:#fff}
.schedule .schedule-list li.active,.schedule .schedule-list li:active,.schedule .schedule-list li:focus{color:#26c4b6;border-color:#26c4b6;background-color:#effffe}
.contact-way .contact-form .control-group{margin-bottom:10px}
.contact-way .contact-form .control-group.code .code-l{width:60%;float:left}
.contact-way .contact-form .control-group.code .code-r{width:40%;float:right;background-color:#fff;color:#ff6c00}
.contact-way .contact-form .control-group.code .code-r:focus{border-bottom-color:#ddd;cursor:pointer}
.contact-way .contact-form .control-group.code .code-r[disabled]{cursor:not-allowed}
.contact-way .contact-form .input-control{border-radius:0;width:100%;line-height: 35px;display:block;color:#666;height: 35px;border:none;padding:0 10px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border-bottom:1px solid #ddd;margin-top: 10px;}
.contact-way .contact-form .input-control:focus{border-bottom-color:#ff6c00;-webkit-transition:all .3s ease-out;transition:all .3s ease-out}
.contact-way .header,.er-code .header{margin:10px 0;position:relative}
.poper-success .header{font-size:24px;padding-top:10px}
.er-code .getNumber{text-align:center}
.er-code .getNumber p{color:#999;display:inline-block}
.er-code .getNumber input{background-color:#fff;border:none;box-shadow:none;color:#ff6c00;display:inline-block;margin-left:15px;font-size:12px}
.er-code .getNumber input[disabled]{color:#999;cursor:not-allowed}
.er-code .number-input{width:85%;margin:15px auto}
.er-code .number-input li{float:left;display:inline-block;width:25%;text-align:center}
.er-code .number-input li input{border:1px solid #ddd;border-radius:0;height:35px;width:35px;padding:4px;font-size:20px;text-align:center}
.er-code .number-input li input:focus{border-color:#ff6c00}
.return-arrow{background:url(../images/m-arrow.png) no-repeat;width:30px;height:30px;position:absolute;top:-3px;left:10px;background-position:8px -46px;background-size:27px;cursor:pointer;border-radius:4px;-webkit-tap-highlight-color: rgba(0,0,0,.3);}
.return-arrow:active{background-color:#f5f5f5}
.block-each .block-det-each{color:#666;border:none;padding:10px 15px 10px 82px;margin:0}
.block-each .block-det-each:last-child{padding-top:0}
.box-g-w-1{padding:10px;background-color:#fff;border-bottom:1px solid #ddd;border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:0 0 1px 0}
.company-info{height:60px;padding:15px 0}
.company-info .comp-img{top:0}
.schedule .schedule-list{overflow: auto;max-height: 345px;}
/*------------------------------------------------------*/
.box-g-w{padding:5px 15px!important}
.block-each{padding:0;margin-top:0;border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:0 0 1px 0}
.company-info .short .btn-group{border-top:1px solid #ddd;border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:1px 0 0 0}
.company-info .short .btn-group li:first-child{position:relative}
.company-info .short .btn-group li:first-child:before{content:"";width:1px;position:absolute;right:1px;height:38px;top:4px;border:1px solid #ddd;border-width:1px;border-left:none;border-top:none;border-bottom:none;border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:0 1px 0 0}
.job-detail .banner{padding:10px;background-color:#fff;box-sizing:border-box}
.job-detail .banner img{height:200px;max-width:420px;margin:0 auto}
.job-mess{padding:10px 15px 15px 15px;background-color:#fff;position: relative;}
.job-mess .name{color:#333;font-size:20px;font-weight:500;vertical-align:middle;}
.job-mess img{width: 42px;vertical-align:middle;}
.job-mess .salary{font-size:18px;margin:5px auto 10px auto}
.job-mess .welfare span{padding:3px 5px;height:20px;line-height:20px;display:inline-block;border-radius:4px;border:1px solid #ddd;color:#999;margin:5px 3px;font-size: 12px;}
.job-require{background-color:#F5F5F5;margin-bottom:0}
.job-require li p:first-child{color:#999}
.border-tb .area{font-size:14px;padding-left:20px;background:transparent url(../images/app/address.png) no-repeat scroll -3px 10px/18px auto;display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding-right:115px;box-sizing:border-box;position:relative;width:100%}
.border-tb .area .yellow.right{position:absolute;right:0;top:0}
.company-info{height:60px;padding:15px 0}
.company-info .comp-img{top:0;left: 0;}
.comp-detail .stars .star{height:15px;width:15px;background-size:49px;background-position:-31px -2px!important;margin-right: 0;}
.comp-detail .stars .star.star-all{width:15px;background-size:49px;background-position:-1px -2px!important}
.comp-detail .stars .star.star-half{width:15px;background-size:49px;background-position:-16px -2px!important}
.comp-detail .comp-mess{font-size:12px;color:#999}
.comp-detail .comp-core,.comp-detail .comp-mess,.comp-detail .comp-name{padding:0}
.comp-detail .comp-name{color:#333;height:23px;text-overflow:initial;line-height:22px}
.comp-detail .comp-name label{font-size:0.28rem;max-width:76%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;display:inline-block;float:left}
.comp-detail .comp-name span{width:18px;height:18px;display:inline-block;border-radius:3px;color:#fff;font-size:12px;text-align:center;line-height:18px;margin-top:3px;margin-left:3px;float:left}
.comp-detail .comp-name span:first-child{margin-left: 0;}
.comp-detail .comp-name span.pin{background-color:#64c3ff}
.comp-detail .comp-name span.dai{background-color:#fe728f}
.comp-detail .comp-core,.comp-detail .comp-mess,.comp-detail .comp-name{padding:0}
.company-info .comp-img img{border:1px solid #eee;width:60px;height:60px;border-radius:4px}
.company-info .short .main-sty{background-image:none;min-height:80px!important}
.company-info .comp-detail{padding-left:70px;width:80%}
.company-info .short .btn-group{border-top:1px solid #ddd;border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:1px 0 0 0}
.company-info .short .btn-group li:first-child{position:relative}
.company-info .short .btn-group li:first-child:before{content:"";width:1px;position:absolute;right:1px;height:38px;top:4px;border:1px solid #ddd;border-width:1px;border-left:none;border-top:none;border-bottom:none;border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:0 1px 0 0}
.stars{letter-spacing:0}
.stars .comment{color:#999;font-size:12px}
.block-each{margin-top:0;padding:0 15px;border-top:none;border-left:0;border-right:0}
.block-each .block-det-each,.block-each .block-title{border-bottom:none;border-image:none}
.block-each .block-title{font-size:0.28rem;}
.block-each .block-det-each{margin:0;padding:8px 0 8px 75px}
.block-each .block-con{color:#666;padding-left: 0;padding-right: 0;}
.block-each .h2-g{font-size:14px;font-weight: 600;}
.authCard{margin:10px auto;padding:10px 15px;background-color:#ffffff;position:relative}
.authCard .icon-auth{width:40px;height:40px;background:url(../images/m-common1.png) no-repeat;background-position:0 -222px;display:inline-block;position:absolute;left:15px;top:12px;background-size:60px}
.authCard h2{padding-left:45px;font-size:15px;font-weight:400;color: #ffb400;}
.authCard p{padding-left:45px;font-size:12px}
.sign-steps li{position:relative;margin:15px auto}
.sign-steps li .title{font-weight:600}
.red{color:#f66}
.banner .slide-trigger{left:50%;bottom:10px!important}
.banner .slide-trigger li{opacity:.6}
.banner .swipe-wrap li{text-align:center}
.banner .slide-trigger li.cur{width:17px;border-radius:20px;background-color:#fff}
.block-each{border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:0 0 1px 0}
@media only screen and (min-width:340px) and (max-width:360px){.comp-detail .comp-name label{max-width:81%}
    .company-info .comp-detail{width:81%}
}
@media only screen and (min-width:361px) and (max-width:400px){.comp-detail .comp-name label{max-width:82%}
    .company-info .comp-detail{width:83%}
}
@media only screen and (min-width:401px) and (max-width:440px){.comp-detail .comp-name label{max-width:83%}
    .company-info .comp-detail{width:85%}
}
@media only screen and (min-width:441px) and (max-width:480px){.comp-detail .comp-name label{max-width:84%}
    .company-info .comp-detail{width:87%}
}
@media only screen and (min-width:481px) and (max-width:520px){.comp-detail .comp-name label{max-width:85%}
    .company-info .comp-detail{width:91%}
}
@media only screen and (min-width:521px) and (max-width:640px){.comp-detail .comp-name label{max-width:86%}
    .company-info .comp-detail{width:93%}
}
.fig{width: 100%;height: 200px;max-width: 485px;margin: 0 auto;overflow: hidden;background-repeat: no-repeat;background-position: center;background-size: cover;}
/**/
.comp-evaluate>a{display: block;padding: 0 15px;}
.comp-evaluate>a{border-top: 1px solid #e2e2e2;border-image: url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image: url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width: 1px 0 0 0;border-top-width: 1px;}
.comp-evaluate>a:first-child{border-top: none;border-image: none;}
.shouldKnow .pop-steps{background-color: #fff;padding-bottom: 15px;}
.shouldKnow .pop-steps li{width: 25%;text-align: center;display: inline-block;float: left;position: relative;}
.shouldKnow .pop-steps li i{display: inline-block;width: 40px;height: 36px;background: url(../images/serviceRule/rule_common.png) no-repeat;background-size: 40px;position: relative;z-index: 10;}
.shouldKnow .pop-steps li:after{font-size: 10px;content: "---------";width:65%;height: 1px;color: #2BB7AB;position: absolute;top: 12px;right: 68%;z-index: 1;}
.shouldKnow .pop-steps li:first-child:after{display: none;}
.shouldKnow .pop-steps li i.icon-1{background-position: 4px 1px;}
.shouldKnow .pop-steps li i.icon-2{background-position: 4px -34px;}
.shouldKnow .pop-steps li i.icon-3{background-position: 5px -491px;}
.shouldKnow .pop-steps li i.icon-4{background-position: 9px -108px;}
.shouldKnow .pop-steps li p{color: #2BB7AB;font-size: 12px;}
.block{display: block;}
.block-det-each .name{left: 0;}
.pl0{padding-left: 0;}
.pr0{padding-right: 0;}
.comp-evaluate .evaluate-item{padding-left: 0 !important;}
.collect-label{position: absolute;right: 0px;top: 10px;border:1px solid #f4f4f4;background-color: #f4f4f4;border-radius: 20px;color: #ccc;display: inline-block;font-size: 12px;width: 75px;height: 22px;line-height: 22px;text-align: center;}
.collect-label.active{border-color:#ffb400;color: #ffb400;background-color: transparent;}
.collect-label:hover,.collect-label:focus,.collect-label:active{color: #ccc;}
.collect-label.active:hover,.collect-label.active:focus,.collect-label.active:active{color: #ffb400;}
.foot-box{height:50px;background-color:#fff;width:100%;position:fixed;z-index:1000;left:0;bottom:0;}
.foot-box ul,.foot-box ul li{height:50px}
.foot-box ul li{font-size:12px;display:inline-block;float:left;width:22%;text-align:center;box-sizing:border-box;background: #f9f9f9;}
.foot-box ul li p{margin-top:-3px}
.foot-box ul .ask p:first-child{margin-top: 8px;margin-bottom: 2px;}
.foot-box ul .ask p:first-child .blue{font-size: 13px;}
.foot-box .sign-btn{width:56%;border-left:none;line-height:50px;font-size:16px;background-color:#26c4b6;color:#fff;cursor:pointer}
.foot-box .sign-btn p{margin-top:0}
.foot-box ul li i{background:url(../images/m-job.png) no-repeat;width:23px;height:23px;display:inline-block;background-size:32px;margin-top:4px}
.foot-box ul .tel i{background-position:0px -679px}
.foot-box ul .consult i{background-position:-2px -594px}
.foot-box ul .collect i{background-position:0 -624px}
.foot-box ul .collect.active i{background-position:-1px -465px}
.foot-box ul li:nth-child(2),.foot-box ul li:nth-child(3){border-left:1px solid #ddd;border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:0 0 0 1px}
/*弹框*/
.footer-box{padding:0;background-color:#fff;z-index:10001;position:fixed;left:0;right:0;width:100%;border-top:1px solid #ddd;bottom:0px;-webkit-transform: translate3d(0,400px,0);transform: translate3d(0,400px,0);-webkit-transition: -webkit-transform .3s ease-in-out;transition: -webkit-transform .3s ease-in-out;transition: transform .3s ease-in-out;transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;}
.footer-box.in{bottom:0px;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
.footer-box .box-header{height:45px;line-height:45px;position:relative;text-align:center;background-color:#f2f2f2;}
.footer-box .box-header .title{color:#333;font-size:16px}
.footer-box .box-header .close-btn{position:absolute;top:12px;left:15px;color:#999;-webkit-tap-highlight-color:rgba(0,0,0,.3);height:20px;line-height:20px}
.footer-box .box-cont{padding:20px 0}
.schedule-box .schedule-list{margin-bottom:-10px}
.schedule-box .schedule-list li{width:48%;display:inline-block;float:left}
.schedule-box .schedule-list li:nth-child(odd){text-align:right;padding-right:2%}
.schedule-box .schedule-list li:nth-child(even){text-align:left;padding-left:2%}
.schedule-box .schedule-list li span{height:35px;line-height:35px;border:1px solid #ddd;border-radius:4px;width:85%;display:inline-block;margin:0 auto 10px auto;text-align:center}
.schedule-box .schedule-list li.active span{border-color:#26c4b6;color:#26c4b6}
.success-box .pop-steps{margin-top:10px}
.success-box .pop-steps li{width:25%;text-align:center;display:inline-block;float:left;position:relative}
.success-box .pop-steps li i{display:inline-block;width:45px;height:45px;background:url(../images/serviceRule/rule_common.png) no-repeat;background-size:45px;position:relative;z-index:10}
.success-box .pop-steps li:after{content:"_______";width:67%;height:1px;color:#ccc;position:absolute;top:7px;right:65%;z-index:1}
.success-box .pop-steps li:first-child:after{display:none}
.success-box .pop-steps li i.icon-1{background-position:3px -606px}
.success-box .pop-steps li i.icon-2{background-position:3px -648px}
.success-box .pop-steps li i.icon-3{background-position:3px -694px}
.success-box .pop-steps li i.icon-4{background-position:3px -737px}
.success-box .pop-steps li p{color:#ccc;font-size:12px}
.success-box .progress-btn{height:40px;line-height:40px;border-radius:40px;color:#fff;width:80%;margin:15px auto 10px auto;display:block;text-align:center;font-size:16px}
.icon-limit{background:url(../images/m-common1.png) no-repeat;width:80px;height:80px;display:block;margin:20px auto;background-position:0 -373px;background-size:80px}
.poper-box{height:auto;width:80%;z-index:10001;background-color:#fff;border-radius:6px;border:1px solid #eee;max-height:430px;overflow-y:auto;position:fixed;left:50%;top:50%;margin-top:0;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transition:transform .2s ease-out;-webkit-transition:-webkit-transform .2s ease-out;-o-transition:-o-transform .2s ease-out}
.upperLimit-box .btn-g{width:90%;margin:15px auto 10px auto;font-size:16px;height:40px;line-height:40px}
.consult-box .way-list li{height:45px;line-height:45px;text-align:center}
.consult-box .way-list li a{display:block;-webkit-tap-highlight-color:rgba(0,0,0,.3)}
.consult-box .way-list li:first-child{border-top:1px solid #e2e2e2;border-bottom: 1px solid #e2e2e2;border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:1px 0 1px 0;}
.pt5{padding-top:5px}
.pt15{padding-top:15px}
.view-more.yellow{-webkit-tap-highlight-color:rgba(0,0,0,.3)}
.view-more.yellow:hover{color:#ffb400}
.mask-layer-2{z-index: 1001;}
.mask-layer-2 img{position: fixed;left: 50%;top: 50%;margin-top: 0;transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);height: auto;width: 100%;}
.input-code{position:relative;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.input-code .btn-code{position:absolute;z-index:10;right:0;bottom:0;height:35px;line-height:36px;background-color:transparent;border:none;box-shadow:none;color:#ff6c00;text-align:right;padding-right:10px;font-size:12px;-webkit-tap-highlight-color:rgba(0,0,0,.3)}
.mt25{margin-top:25px!important}
.text-div p{line-height:18px}
.pt10{padding-top:10px}
:-moz-placeholder {color: #ccc; opacity:1;}
::-moz-placeholder {color: #ccc;opacity:1;}
input:-ms-input-placeholder{color: #ccc;opacity:1;}
input::-webkit-input-placeholder{color: #ccc;opacity:1;}
.form-g-tip{background-color:transparent;border-bottom: none;padding-bottom: 0;background-position: 10px -43px !important;padding-left: 27px !important;}
/* 认证 */
.certify{font-size: 12px;background-color:#fff;height:40px;line-height:40px;color:#ccc;padding:0 15px;font-size:13px}
.certify-label{font-size: 14px;background-color:#ffc600;color:#fff;border-radius:2px;height:18px;display:inline-block;line-height:19px;padding:0 7px;margin-right:5px;vertical-align: -1px;}
.standards{padding:10px 0}
.standards li{margin-bottom:3px;}
.standards li:before{content:"";background:url(../images/m-job.png) no-repeat;width:17px;height:17px;background-size:30px;background-position:-2px -663px;display:inline-block;vertical-align:-4px;margin-right:5px}
.specialService{width:100%;margin-top: -10px;}
.specialService .circle{padding:18px 0;border-radius:100%;color:#fff;font-size:17px;width:80px;margin:0 auto 10px auto}
.specialService .circle1{background-color:#f09e61}
.specialService .circle2{background-color:#61b5f0}
.specialService .circle3{background-color:#f0618d}
.specialService li{font-size: 13px;width:33.33%;display:inline-block;float:left;text-align:center;line-height:1.3;color: #333;}
.arrow-more{background-size: 26px;background-position: 6px -94px;right: -5px;}
.block-title:before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 18px;
    background-color: #2bb7ac;
    left: 0;
    top: 50%;
    margin-top: -10px;
}