*{margin:0;padding:0;-webkit-tap-highlight-color:transparent;tap-highlight-color:transparent;outline:0}
body{font: 14px/1.5 'Microsoft Yahei',helvetica,arialhelvetica,arial;color:#666;-webkit-text-size-adjust:none;min-width:320px;line-height:1.5;font-weight:400;background:#eee;}
h1,h2,h3,h4,h5,h6{font-size:100%}
form{display:inline}
ol,ul{list-style:none}
a{text-decoration:none;color:#666}
a:hover{/* color:#fff; */text-decoration:none}
input,textarea{font:14px/1.5 'Microsoft Yahei',helvetica,arial;color:#666}
button,input,select,textarea{outline:0}
img{border:0;vertical-align:middle}
table,tbody,td,tr{border-spacing:0}
body,html{height:100%}
ul li{margin:0;padding:0}
.f14{font-size:14px!important}
.f12{font-size:12px}
.c666{color:#666}
.bg-gray{background-color:#f0f0f0}
.c999{color:#999}
.blue{color:#26c5b7}
a.blue:hover{color:#26c5b7}
.pb1{padding-bottom:1px}
.mt10{margin-top:10px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.pb45{padding-bottom:45px!important}
.red{color:#f63737}
.medal-orange{background-color:#f97d51;color:#fff;border-radius:3px;padding:0 3px;font-size:10px;display:inline-block;height:16px;line-height:16px}
.mask-layer,.mask-layer-2{position:absolute;width:100%;height:100%;z-index:999;display:none;top:0;left:0;overflow:hidden}
.mask-layer{position:absolute;width:100%;height:100%;z-index:999;display:none;top:0;left:0;overflow:hidden;background:#000;filter:alpha(opacity=30)!important;-moz-opacity:.3!important;opacity:.3!important;position:fixed;bottom:0;cursor:pointer}
.mask-layer-2{background:#000;filter:alpha(opacity=30)!important;-moz-opacity:.3!important;opacity:.3!important;position:fixed;bottom:0;cursor:pointer;top:0}
.page-wrapper{min-height:100%;position:relative}
.clearfix:after,.clearfix:before{content:"";display:block;line-height:0;font-size:0;width:0;clear:both}
.assistant{min-height:100%;position:relative;background-color:#e5f5f4}
.btn{background:#ff6c00;border-radius:5px;height:37px;line-height:37px;text-align:center;font-size:16px;color:#fff;padding:0 10px;display:block;cursor:pointer;border:1px solid #ccc}
.btn-orange{background-color:#f97d51;border-color:#f97d51}
.btn-orange:active{background-color:#f57649;border-color:#f57649}
.btn-blue{background-color:#26c5b7;border-color:#26c5b7}
.btn-blue:active{background-color:#2cc2b4;border-color:#2cc2b4}
.btn-default{background-color:#fff;color:#666;border-color:#ccc}
.btn-default:active{background-color:#fff;color:#666;border-color:#ccc}
.banner{padding:10px 15px;background:-webkit-linear-gradient(#34f2a8,#26c5b7);background:-moz-linear-gradient(#34f2a8,#26c5b7);background:linear-gradient(#34f2a8,#26c5b7)}
.banner .search{position:relative;padding-right:35px}
.banner .search input{height:35px;width:100%;border:none;padding:0 10px 0 10px;border-top-left-radius:5px;border-bottom-left-radius:5px;box-sizing:border-box;border-top-right-radius:0;border-bottom-right-radius:0}
.banner .search .icon-search{background:#fff url(../images/common.png) no-repeat 7px -611px;display:inline-block;width:35px;height:35px;position:absolute;top:0;right:0;background-size:100px;border-top-right-radius:5px;border-bottom-right-radius:5px}
.banner .search .icon-search::before{content:"";display:block;width:1px;height:25px;position:absolute;top:5px;left:0;background-color:#ccc}
.banner .serch-bar{position:absolute;right:0;top:0;width:35px;height:35px;z-index:10}
.banner .serch-bar .btn{opacity:0;position:absolute;right:0;top:0;z-index:10}
.banner .serch-bar .icon-search{opacity:1;z-index:1}
.banner .user{margin:15px auto 5px auto;position:relative}
.banner .user .user-l{float:left}
.banner .user .user-l ul li{display:inline-block;vertical-align:middle}
.banner .user .user-l ul li img{width:45px;height:45px;border-radius:30px;padding-right:5px}
.banner .user .user-l ul li .btn,.banner .user .user-l ul li p{color:#fff}
.banner .user .user-l ul li .name{font-size:16px}
.banner .user .user-l ul li .name,.banner .user .user-l ul li .tel{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;max-width:120px}
.banner .user .user-r .btn{position:absolute;right:0;top:5px}
.content{padding:15px}
.foot-box .box-cont ul.list-choose li i{position:absolute;left:10px;top:15px;width:55px;height:55px;display:inline-block;background:#fff url(../images/common.png) no-repeat;background-size:80px;border-radius:30px}
.foot-box .box-cont{padding:15px;max-height:138px;overflow:auto}
.foot-box-time .box-footer{position:absolute;bottom:0;width:100%}
.foot-box .box-cont ul.list-choose li i{position:inherit!important;width:70px!important;height:70px!important}
.foot-box .icon-sure{background-position:2px -570px!important}
.foot-box .icon-cancel{background-position:2px -658px!important}
.foot-box .icon-pass{background-position:2px -743px!important}
.foot-box .icon-lost{background-position:2px -839px!important}
.menu-list .item{width:100%;height:130px;text-align:center;background-color:#fff;border-radius:5px;margin-bottom:15px;position:relative}
.menu-list .item::before{content:"";background:url(../images/common.png) no-repeat;background-size:95px;width:45px;height:38px;display:block;position:absolute;left:10px;top:-5px;z-index:1}
.menu-list .item.onjob::before{background-position:-1px -1206px}
.menu-list .item.offjob::before{background-position:-1px -1246px}
.menu-list .item>div{width:50%;display:inline-block;float:left;height:130px}
.menu-list .item h2{font-weight:400}
.menu-list .item .item-l{display:flex;justify-content:center;align-items:center;flex-direction:column;color:#333;position:relative}
.menu-list .item .item-l:before{content:"";display:block;width:15px;height:22px;background-color:#fff;position:absolute;left:37px;top:1px;z-index:10}
.menu-list .item.onjob .item-l{color:#f97d51;background-color:#fff}
.menu-list .item.onjob .item-l>a{color:#f97d51}
.menu-list .item.offjob .item-l>a{color:#666}
.menu-list .item .item-l h2{font-size:16px}
.menu-list .item .item-r ul li{margin:0;display:inline-block;width:50%;height:65px;float:left;box-sizing:border-box;border-top:1px solid #ddd;border-left:1px solid #ddd;display:flex;justify-content:center;align-items:center;flex-direction:column}
.menu-list .item .item-r ul li:nth-child(1),.menu-list .item .item-r ul li:nth-child(2){border-top:none}
.menu-list .item .item-r ul li h2{font-size:12px;color:#999}
.menu-list .item .item-r ul li p{color:#333;font-size:17px}
.modal{display:none;background-color:#fff;width:80%;border-radius:5px;max-width:300px;position:fixed;left:50%;top:50%;z-index:1001;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transition:transform .2s ease-out;-webkit-transition:-webkit-transform .2s ease-out;-o-transition:-o-transform .2s ease-out}
.modal .modal-cont{text-align:center;padding:15px}
.modal .modal-cont .name{font-weight:600;margin:0 5px}
.modal .modal-cont .title{text-align:center;padding:20px 0}
.modal .header{text-align:center;height:40px;line-height:40px;background-color:#e5f5f4;color:#26c5b7;font-weight:600;border-top-left-radius:5px;border-top-right-radius:5px}
.modal .modal-footer{display:flex;flex-direction:row;text-align:center;justify-content:space-between;padding:10px 25px}
.modal .modal-footer .btn{width:75px}
.modal .modal-footer .btn-default:hover{color:#666}
.foot-box .header .close,.modal .close{color:#ccc;font-size:26px;position:absolute;right:0;top:0;width:30px;height:30px;line-height:30px;text-align:center;cursor:pointer}
.select-bar{width:100%;height:40px;line-height:40px;background-color:#fff;border-bottom:1px solid #ddd;display:flex;flex-direction:row}
.select-bar li{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;padding:0 5px;display:inline-block;text-align:center;position:relative;flex:1}
.footer ul a li::before,.job-list .job-foot a::before,.select-bar li::before{content:"";width:1px;height:24px;background-color:#ddd;position:absolute;left:0;top:9px;display:block}
.footer ul a:first-child li::before,.job-list .job-foot a:first-child::before,.select-bar li:first-child::before{width:0}
.footer-operate{display:none}
.footer-operate a:nth-child(3) li::before{width:0!important}
.icon-arrow{width:15px;height:15px;display:inline-block;background:url(../images/common.png) no-repeat;background-position:3px -656px;background-size:100px;vertical-align:middle}
.select-bar li .icon-arrow{position: absolute;right: 10px;top: 15px;transform:rotate(0);-ms-transform:rotate(0);-webkit-transform:rotate(0);-o-transition:-o-transform .2s ease-in-out;-webkit-transition:transform .2s ease-in-out;transition:transform .2s ease-in-out;background-position:1px -659px}
.select-bar li .icon-arrow.on{transform:rotate(180deg);-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);background-position:-2px -657px}
.table-sty{width:100%;/*!  */margin-bottom:40px}
.table-sty tr th{color:#999;font-weight:400}
.table-sty tr td,.table-sty tr th{position:relative;padding:0;border-bottom:5px solid #e5f5f4;text-align:center;font-size:12px}
.calendar-cont .item table td .ok,.footer-operate .ok,.table-sty i.ok{vertical-align:middle;background:#fff url(../images/common.png) no-repeat;display:inline-block;width:26px;height:30px;background-size:70px}
.calendar-cont .item table td .ok,.footer-operate .ok,.table-sty i.ok{background-position:-48px -454px}
.footer-operate .ok{background-position:-48px -454px;background-size:70px}
.footer-operate .ok.active{background-position:-48px -426px}
.calendar-cont .item table td .ok.active,.table-sty i.ok.active{background-position:-48px -426px}
.table-sty ul li{position:relative;background-color:#fff;margin-bottom:6px;border:1px solid #ddd;border-left:none;border-right:none}
.table-sty ul li .td-icon{flex:1;margin:0 10px}
.table-sty ul li p{line-height:20px;font-size:10px}
.table-sty ul li>div{display:inline-block;float:left;padding:10px;box-sizing:border-box}
.table-sty ul li .td-r-l{height:62px;width:65%;position:relative;border-right:1px solid #ddd}
.table-sty ul li .td-r-l .ok{position:absolute;left:10px;top:17px}
.table-sty ul li .td-mess.on{padding-left:26px}
.table-sty ul li .td-r-r{height:62px;text-align:center;width:35%;display:flex;flex-direction:column;justify-content:center}
.table-sty ul li .td-r-r .f14{font-size:12px!important}
.table-sty ul li .user-name{font-size:12px;color:#333;text-align:left}
.table-sty ul li .user-name .user-mess{color:#666;font-size:10px;margin:0 2px}
.table-sty ul li .area{color:#999;text-align:left;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.footer{z-index:10;height:45px;line-height:45px;background-color:#fff;width:100%;position:fixed;bottom:0;left:0;border-top:1px solid #ddd}
.footer .btn{border:none;height:45px;line-height:45px;color:#fff;border-radius:0}
.footer>ul{display:flex;height:45px;line-height:45px;flex-direction:row}
.footer a{color:#26c5b7;flex:1}
.footer button[type=button],.footer button[type=submit],.footer input[type=button],.footer input[type=submit]{flex:1;width:100%}
.box-footer-sty .btn{flex:1}
.box-footer-sty .btn:hover{color:#fff}
.box-footer-sty .btn.btn-default{color:inherit}
.footer-operate a:first-child{flex:2}
.footer-operate a:nth-child(2),.footer-operate a:nth-child(3){flex:3}
.footer li{display:inline-block;/*!  *//*!  */text-align:center;width:100%;position:relative}
.footer li i,.search .icon-del{background:url(../images/common.png) no-repeat;width:30px;height:24px;vertical-align:middle;display:inline-block;background-size:85px}
.footer li i.icon-money{background-position:-60px -985px}
.footer li i.icon-self{background-position:-60px -1012px}
.footer li:active,.search-result li:active,.select-bar li:active{background-color:#eee}
.menu-list .item .item-l,.menu-list .item .item-l::before,.menu-list .item .item-r ul li{-webkit-transition:all .3s ease-out;transition:all .3s ease-out}
.menu-list .item .item-l:active,.menu-list .item .item-l:active::before,.menu-list .item .item-r ul li:active{background-color:#eee}
.operate-fix{width:30px;height:30px;text-align:center;position:fixed;z-index:10;bottom:60px;right:10px;padding:7px;border-radius:40px;color:#fff;font-size:12px;line-height:16px;cursor:pointer;-webkit-transition:all .4s ease-out;transition:all .4s ease-out}
.operate-fix.cancel{background-color:#999;box-shadow:0 0 3px #999}
.operate-fix.deal{background-color:#26c5b7;box-shadow:0 0 3px #26c5b7}
.form-list{padding:0 10px}
.select-div{position:relative;margin-top:10px}
.select-div select{height:18px;line-height:18px;padding:8px 0 8px 10px;background:#fff;border-radius:5px;border:1px solid #ccc;width:95%}
.select-div select{position:relative;height:40px;line-height:18px;width:100%;box-sizing:padding-box}
.select-div .blue-arrow{position:absolute;right:8px;top:23px}
.form-text{color:#fff;padding:20px 20px;text-align:center}
.select-div .icon-arrow{position:absolute;right:5px;top:12px}
.foot-box{display:none;background-color:#fff;border-top:1px solid #ddd;width:100%;position:fixed;z-index:1000;bottom:0}
.foot-box-time{height:280px}
.foot-box .header{font-size:16px;color:#333;height:40px;line-height:40px;padding:0 15px;position:relative;border-bottom:1px solid #ddd}
.foot-box .header .tips{margin:0 5px;font-size:14px;color:#666;display:inline-block}
.foot-box .header .tips span{font-weight:600;margin:0 5px}
.foot-box .title{text-align:center}
.foot-box .title .name{font-weight:600;margin:0 5px}
.foot-box .list-choose li{display:inline-block;width:50%;float:left;text-align:center;height:100px;vertical-align:middle}
.foot-box .list-reason li{display:inline-block;width:33.33%;float:left;margin-bottom:10px}
.foot-box .list-person li{display:inline-block;width:20%;float:left;margin-bottom:10px}
@media only screen and (min-width:421px) and (max-width:640px){.foot-box .list-reason li{width:25%}
}
@media only screen and (min-width:361px) and (max-width:420px){.foot-box .list-person li{width:25%}
}
@media only screen and (max-width:360px){.foot-box .list-person li{width:33.33%}
}
.foot-box .list-person li p,.foot-box .list-reason li p{position:relative;width:70%;text-align:center;font-size:12px;margin:0 auto;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;height:30px;line-height:30px;padding:0 10px;border-radius:5px;background-color:#f0f0f0}
.foot-box .list-person li p{padding:0 10px 0 10px;-o-transition:-o-transform .2s ease-in-out;-webkit-transition:transform .2s ease-in-out;transition:transform .2s ease-in-out}
.foot-box .list-person li p:active{background-color:#f6f4f4}
.foot-box .list-person li p .close{position:absolute;right:0;font-size:20px;top:0;cursor:pointer;width:30px;text-align:right;padding-right:2%}
.foot-box .list-reason li.active p{background-color:#26c4b6;color:#fff}
.box-footer-sty .btn,.foot-box .box-footer .btn{border-radius:0;height:45px;line-height:45px;border-left:none;border-bottom:none}
.m-filter{padding:8px 0;border:1px solid #ddd;border-left:0;border-right:0;font-size:0}
.m-filter li{float:left;width:25%;font-size:14px;text-align:center;height:20px;line-height:20px;border-right:1px solid #eee;box-sizing:border-box;position:relative}
.m-filter li span{display:block;width:80%;margin-left:5px;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.m-filter .arrow-d-2{right:10%;top:11px}
.m-select{border-top:1px solid #ddd;background:#fff;position:absolute;width:100%;z-index:1000;display:none;top:95px;left:0}
.m-select-l li,.m-select-list li,.m-select-list2 li,.m-select-r li,.m-select-title2,.m-selected2{display:block;height:45px;line-height:45px;border-bottom:1px solid #ddd;padding:0 15px;position:relative}
.m-select-list.inline-3 li,.m-select-list.inline-3-2 li{float:left;width:33.33%;box-sizing:border-box;text-align:center;margin-bottom:0;border-radius:0}
.m-select-list2 li,.m-select-title2{height:50px;line-height:50px}
.m-select-list2 li{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.m-select-list2 .current{color:#666!important}
.m-select-list2 .cur{color:#2bb7ac!important}
.m-selected2{background:#efeeee;color:#999;height:50px;line-height:50px;overflow:hidden}
.m-selected2 .tag{border:1px solid #a1a1a1;float:left;height:25px;line-height:25px;padding:0 12px 0 10px;margin:12px 10px 0 0;background:#f0f0f0;position:relative}
.m-selected2 .tag:after{content:'x';position:absolute;top:0;right:4px;font-size:12px;height:12px;line-height:12px;color:#999}
.m-select-list2 .m-select-title,.m-select-list2 .m-select-title.current{color:#666;background:#fff;font-size:15px}
.m-select-list2 li.current{background:#fff;color:#999!important}
.m-select-list2.inline-3 li{width:33.33%;float:left;box-sizing:border-box;text-align:center}
.m-select-title2 .close{font-size:16px;color:#2bb7ac;width:80px;text-align:right;cursor:pointer}
.m-select .current{background:#f0f0f0;color:#2bb7ac}
.m-select-r{display:none}
.m-select.with-sub .m-select-l{width:50%;border-right:1px solid #ddd}
.m-select.with-sub .m-select-r{position:absolute;left:50%;width:50%;top:0;border-left:1px solid #ddd;display:block}
.m-select.with-sub .m-select-r li{background-color:#f0f0f0}
.m-select i{position:absolute;width:9px;height:14px;right:10px;top:50%;margin-top:-7px;background:url(../images/m-job.png) no-repeat scroll -1px -94px;background-size:25px}
.m-select-l,.m-select-list,.m-select-r{max-height:396px;overflow:auto}
.m-select-list2:after{content:'';display:block;clear:both;line-height:0;font-size:0}
.m-select-list2{max-height:220px;overflow:auto}
.linkage-select-panel,.linkage-select-panel-1,.m-select{display:none;max-height:400px;overflow:auto;-webkit-transition:-webkit-transform .3s ease-in-out;transition:-webkit-transform .3s ease-in-out;transition:transform .3s ease-in-out;transition:transform .3s ease-in-out,-webkit-transform .3s ease-in-out}
.linkage-select-panel-1.on,.linkage-select-panel.on,.m-select.on{display:block}
.job-list{border-radius:5px;padding-bottom:45px}
.job-list li{background-color:#fff;position:relative;border-radius:5px;margin-bottom:10px}
.job-list .job-mess{background-color:#fff;border-bottom:1px solid #ddd;padding:10px 15px 0 15px;border-top-left-radius:5px;border-top-right-radius:5px}
.job-list .job-mess .comp-name{font-size:16px;color:#333;height:26px;line-height:26px;margin-bottom:5px}
.job-list .job-foot{height:40px;line-height:40px;border-bottom-left-radius:5px;border-bottom-right-radius:5px}
.job-list .job-foot a{width:50%;display:inline-block;float:left;text-align:center;position:relative}
.job-list .job-foot a:hover{color:#26c5b7}
.job-list .job-foot a:active{background-color:#eee}
.job-list .job-mess .icon-offjob,.job-list .job-mess .icon-onjob{background:url(../images/common.png) no-repeat;width:40px;height:40px;position:absolute;right:0;top:0;background-size:80px}
.job-list .job-mess .icon-offjob{background-position:0 -926px}
.job-list .job-mess .icon-onjob{background-position:0 -968px}
.time-list>li{width:50%;display:inline-block;float:left}
.time-list p{text-align:center}
.time-list .time-l .header,.time-list .time-r .header{font-size:14px;color:#333;border-bottom:none;height:26px;line-height:26px}
.time-list .time-l .tips,.time-list .time-r .tips{font-size:12px;color:#999}
.job-list .job-mess .interview{position:relative}
.job-list .job-mess .label{position:absolute;left:0}
.job-list .job-mess .area{padding-left:55px}
.job-form .control-group{position:relative;border-bottom:1px solid #ccc}
.job-form .control-group label{color:#333;width:70px;display:inline-block;font-weight:400;position:absolute;left:0;height:30px;line-height:30px;top:0}
.job-form .control-group .input-control{font-size:12px;width:70%;box-sizing:border-box;margin-bottom:10px;border-radius:5px;border:none;padding:0 10px;height:38px;line-height:39px;margin-left:75px}
textarea.input-control{overflow-y:visible;display:block;height:80px!important;line-height:20px!important;padding:10px 10px!important}
@media only screen and (min-width:360px) and (max-width:400px){.job-form .control-group .input-control{width:75%}
}
@media only screen and (min-width:401px) and (max-width:500px){.job-form .control-group .input-control{width:80%}
}
@media only screen and (min-width:501px) and (max-width:640px){.job-form .control-group .input-control{width:85%}
}
.job-calendar{background-color:#fff;margin-top:5px}
.calendar-header{height:40px;padding:10px;border-bottom:1px solid #ddd;border-top:1px solid #ddd}
.calendar-header li{display:inline-block;float:left;width:14.28%;text-align:center;font-size:11px;cursor:pointer}
.calendar-header li.current div{padding:2px;background-color:#26c5b7;color:#fff;border-radius:5px}
.calendar-header li div{width:90%;margin:0 auto;max-width:30px}
.calendar-cont .item{display:none}
.calendar-cont .item.current{display:block}
.calendar-cont .item table{width:100%}
.calendar-cont .item table td{padding:15px 10px;text-align:center;vertical-align:middle;border-bottom:1px solid #ddd;border-left:1px solid #ddd}
.calendar-cont .item table tr td:first-child{border-left:none}
.title-bar{position:relative;height:45px;line-height:45px;padding-left:29px}
.title-bar:before{content:"";width:5px;height:17px;background-color:#26c5b7;position:absolute;left:15px;top:14px}
.job-status{position:relative;background-color:#fff;height:45px;line-height:45px;border-bottom:1px solid #ddd;padding:0 15px}
.job-status .status{height:25px;line-height:25px;display:inline-block;font-size:12px;border:1px solid #f97d51;position:absolute;right:15px;top:9px;border-radius:5px;color:#f97d51}
.job-status label{font-size:16px}
.job-status .status span{height:25px;line-height:25px;display:inline-block;padding:0 8px}
.job-status .status .active{background-color:#f97d51;color:#fff}
.onjob-list ul li{height:45px;line-height:45px;background-color:#fff;border-bottom:1px solid #ddd;padding:0 15px;position:relative}
.onjob-list ul li .name{color:#333}
.onjob-list ul li .name .mess{font-size:12px;color:#666}
.onjob-list ul li .metal{position:absolute;right:15px;top:14px;background-color:#26c5b7;color:#fff;border-radius:10px;display:inline-block;font-size:10px;padding:2px 7px;line-height: initial;}
.job-mess-sty{padding:0!important}
.job-mess-sty .job-form .control-group .input-control{border:none}
.job-mess-sty .job-form .control-group .input-control{margin-bottom:0}
.job-mess-sty .job-form .control-group{border-bottom:1px solid #ddd;height:40px;line-height:40px}
.job-mess-sty .job-form .control-group label{height:40px;line-height:40px;left:15px}
.box-footer-sty,.footer-sty{display:flex;flex-direction:row}
.footer-sty .btn{border:none}
.footer-sty .btn-default{color:#666}
.box-footer-sty .btn.btn-default:active,.footer-sty .btn-default:active{background-color:#eee}
.job-mess-sty .user{position:relative;height:100px!important;border-bottom:1px solid #ddd}
.job-mess-sty .user .user-l{position:absolute;left:10px;top:10px;text-align:center;width:70px}
.job-mess-sty .user .user-l p{line-height:28px;font-size:12px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.job-mess-sty .user .user-l img,.user-banner img{width:55px;height:55px;border-radius:40px;border:1px solid #eee}
.job-mess-sty .user .user-r{padding-left:85px;padding-top:10px}
.job-mess-sty .user .user-r label{color:#333}
.job-mess-sty .user .user-r>p{line-height:22px}
.job-mess-sty .job-form .control-group:last-child{border-bottom:none}
.job-mess-sty .icon-phone{position:absolute;right:15px;top:10px;background:url(../images/common.png);width:30px;height:23px;display:inline-block;background-size:85px;background-position:-60px -1038px}
.profit-card{background-color:#fff;border-radius:5px;padding:15px 10px;display:flex;flex-direction:row;align-items:center}
.profit-card li{box-sizing:border-box;text-align:center;flex:1;border-left:1px solid #ddd}
.profit-card li:first-child{border-left:none}
.profit-card li h2{color:#f97d51;font-size:17px;font-weight:600;white-space:nowrap;overflow:hidden;max-width:89px;margin:0 auto}
@media only screen and (min-width:340px) and (max-width:360px){.profit-card li h2{max-width:115px}
}
@media only screen and (min-width:361px) and (max-width:380px){.profit-card li h2{max-width:135px}
}
@media only screen and (min-width:381px) and (max-width:400px){.profit-card li h2{max-width:155px}
}
@media only screen and (min-width:401px) and (max-width:420px){.profit-card li h2{max-width:175px}
}
@media only screen and (min-width:421px) and (max-width:440px){.profit-card li h2{max-width:195px}
}
@media only screen and (min-width:441px) and (max-width:460px){.profit-card li h2{max-width:215px}
}
.profit-list li{border-bottom:1px solid #ddd;background-color:#fff;padding:10px 15px}
.profit-list li .name,.profit-list li .state{float:left;font-size: 14px;}
.profit-list li .item-t{margin-bottom:5px}
.profit-list li .num{color:#f97d51;float:right;font-size: 14px;}
.profit-list li .state{font-size:12px;color:#999;width:50%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.profit-list li .state.active{color:#26c5b7}
.profit-list li .time{float:right;color:#999;font-size:12px;width:50%;text-align:right;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.texrarea-input{border-radius:5px;border:1px solid #ccc;width:100%}
.notFind{text-align:center;color:#999}
.notFind img{width:105px;display:block;margin:30% auto 20px auto}
.user-banner{text-align:center;padding:15px}
.user-banner img{width:70px;height:70px}
.text-area{height:80px!important}
.text-area .input-control{padding-top:10px!important;padding-bottom:10px!important}
.input-group input{font-size:12px;width:32%;box-sizing:border-box;border-radius:0;border:none;padding:0 10px 0 0;height:30px;line-height:30px;margin-top:5px}
.input-group .mid-line{color:#ccc}
.sex-group span{height:28px;line-height:29px;width:28px;text-align:center;border:1px solid #ccc;color:#ccc;border-radius:25px;background-image:none;display:inline-block;margin-right:10px;margin-top:5px;cursor:pointer}
.sex-group span.active{background-color:#2bb7ab;color:#fff;border-color:#2bb7ab}
.m-select{border-top:1px solid #ddd;background:#fff;position:absolute;width:100%;z-index:1000;display:none;top:0;left:0;position:fixed}
.linkage-select-panel,.linkage-select-panel-1,.m-select{display:block;-webkit-transform:translate3d(0,-400px,0);transform:translate3d(0,-400px,0);max-height:400px;overflow:auto;-webkit-transition:-webkit-transform .3s ease-in-out;transition:-webkit-transform .3s ease-in-out;transition:transform .3s ease-in-out;transition:transform .3s ease-in-out,-webkit-transform .3s ease-in-out}
.linkage-select-panel-1.on,.linkage-select-panel.on,.m-select.on{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.m-filter{padding:8px 0;border:1px solid #ddd;border-left:0;border-right:0;font-size:0}
.m-filter li{float:left;width:25%;font-size:14px;text-align:center;height:20px;line-height:20px;border-right:1px solid #eee;box-sizing:border-box;position:relative}
.m-filter li span{display:block;width:80%;margin-left:5px;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.m-filter .arrow-d-2{right:10%;top:11px}
.m-select{border-top:1px solid #ddd;background:#fff;position:absolute;width:100%;z-index:1000;display:none;top:0;left:0;position:fixed}
.m-select-l li,.m-select-list li,.m-select-list2 li,.m-select-r li,.m-select-title2,.m-selected2{margin-bottom:0;display:block;height:50px;line-height:50px;border-bottom:1px solid #ddd;padding:0 15px;position:relative}
@media all and (max-width:350px){.m-select-list.inline-3-2 li{width:50%}
}
.m-select-list2 li,.m-select-title2{height:50px;line-height:50px}
.m-select-list2 li{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.m-select-list2 .current{color:#666!important}
.m-select-list2 .active{color:#2bb7ac!important}
.m-selected2{background:#efeeee;color:#999;height:50px;line-height:50px;overflow:hidden}
.m-selected2 .tag{border:1px solid #a1a1a1;float:left;height:25px;line-height:25px;padding:0 12px 0 10px;margin:12px 10px 0 0;background:#f0f0f0;position:relative}
.m-selected2 .tag:after{content:'x';position:absolute;top:0;right:4px;font-size:12px;height:12px;line-height:12px;color:#999}
.m-select-list2 .m-select-title,.m-select-list2 .m-select-title.current{color:#666;background:#fff;font-size:15px}
.m-select-list2 li.current{background:#fff;color:#999!important}
.m-select-list2.inline-3 li{width:33.33%;float:left;box-sizing:border-box;text-align:center}
.m-select-title2 .close{font-size:16px;color:#2bb7ac;width:80px;text-align:right;cursor:pointer}
.m-select .current{background:#f0f0f0;color:#2bb7ac}
.m-select-r{display:none}
.m-select.with-sub .m-select-l{width:50%;border-right:1px solid #ddd}
.m-select.with-sub .m-select-r{position:absolute;left:50%;width:50%;top:0;border-left:1px solid #ddd;display:block}
.m-select.with-sub .m-select-r li{background-color:#f0f0f0}
.m-select i{position:absolute;width:9px;height:14px;right:10px;top:50%;margin-top:-7px;background:url(../images/m-job.png) no-repeat scroll -1px -94px;background-size:25px}
.m-select-l,.m-select-list,.m-select-r{max-height:396px;overflow:auto}
.m-select-list2:after{content:'';display:block;clear:both;line-height:0;font-size:0}
.m-select-list2{max-height:220px;overflow:auto}
@media all and (min-height:360px){.m-select-list2{max-height:260px}
}
@media all and (min-height:400px){.m-select-list2{max-height:300px}
}
@media all and (min-height:480px){.m-select-list2{max-height:380px}
}
@media all and (min-height:640px){.m-select-list2{max-height:640px}
}
@media all and (min-height:800px){.m-select-list2{max-height:800px}
}
.linkage-select-panel,.linkage-select-panel-1{display:none;z-index:1001;position:absolute;top:0;left:0;position:fixed;width:100%}
.linkage-select-panel ul,.linkage-select-panel-1 ul{max-height:220px;overflow-y:auto}
@media all and (min-height:360px){.linkage-select-panel ul,.linkage-select-panel-1 ul{max-height:260px}
}
@media all and (min-height:400px){.linkage-select-panel ul,.linkage-select-panel-1 ul{max-height:300px}
}
@media all and (min-height:480px){.linkage-select-panel ul,.linkage-select-panel-1 ul{max-height:380px}
}
@media all and (min-height:640px){.linkage-select-panel ul,.linkage-select-panel-1 ul{max-height:640px}
}
@media all and (min-height:800px){.linkage-select-panel ul,.linkage-select-panel-1 ul{max-height:800px}
}
.linkage-select-panel .close,.linkage-select-panel-1 .close{font-size:16px;color:#2bb7ac;width:80px;text-align:right;cursor:pointer}
.linkage-select-panel li,.linkage-select-panel-1 li,.linkage-selected,.linkage-title{background-color:#fff;height:50px;line-height:50px;display:block;border-bottom:1px solid #ddd;padding:0 15px}
.linkage-select-panel .first-step,.linkage-select-panel .second-step,.linkage-select-panel .third-step .linkage-select-panel-1 .first-step,.linkage-select-panel-1 .second-step,.linkage-select-panel-1 .third-step{background:#fff}
.linkage-selected{background:#efeeee;color:#999}
.linkage-selected .first{cursor:pointer}
.linkage-select-panel li,.linkage-select-panel-1 li{width:33.33%;float:left;box-sizing:border-box;text-align:center;cursor:pointer;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-bottom:0;border-radius:0}
.linkage-select-panel li.active,.linkage-select-panel-1 li.active{color:#999}
.form-g-input,.form-g-text{width:92%;height:16px;line-height:16px;padding:12px 0;border:0;display:block;color:#666;border-radius:4px}
.m-select-title2 .close{font-size:16px;color:#2bb7ac;width:80px;text-align:right;cursor:pointer}
.fr{float:right}
#horizontal-scroll{position:relative;width:100%;height:50px;z-index:1;overflow:hidden}
#horizontal-scroll #scroller{position:absolute;z-index:1;height:50px;width:150%;min-width:400px;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;text-size-adjust:none}
#horizontal-scroll .m-selected2{width:100%}
.form-g-text.special{height:auto;padding:10px 4%;line-height:1.5;width:85%}
.height-auto{height:auto!important;min-height:40px}
.recruit-list{margin-top:5px}
.recruit-list a li{color:#666}
.recruit-list li{background-color:#fff;height:40px;line-height:40px;padding:0 15px;border-bottom:1px solid #ddd;margin-bottom:0}
.job-form-sty .control-group{border-bottom:1px solid #ddd;padding:10px 15px 0 15px}
.job-form-sty .control-group label{left:15px;top:9px}
.search-result{display:none;position:absolute;top:55px;z-index:1000;width:100%;left:0}
.search-result li{padding:0 15px;height:40px;line-height:40px;background-color:#fff;border-bottom:1px solid #ddd}
.search .icon-del{background-position:-60px -1060px;cursor:pointer;display:none;position:absolute;right:35px;top:0;z-index:10;color:#ccc;width:30px;text-align:center;height:35px}
.foot-box,.footer,.m-select{border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:1px 0 0 0}
.foot-box .header,.job-form-sty .control-group,.job-mess-sty .job-form .control-group,.job-mess-sty .user,.job-status,.m-select-l li,.m-select-list li,.m-select-list2 li,.m-select-r li,.m-select-title2,.m-selected2,.onjob-list ul li,.profit-list li,.recruit-list li,.select-bar{border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:0 0 1px 0}
.job-list .job-mess,.job-mess-sty .job-form .control-group:last-child{border-width:0;border-image:none}
.calendar-header,.table-sty ul li{border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:1px 0 1px 0}
.table-sty ul li .td-r-l{padding:0 10px;border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:0 1px 0 0;display:flex;flex-direction:column;justify-content:center}
.calendar-cont .item table td{border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:0 0 1px 1px}
.calendar-cont .item table tr td:first-child{border-left-width:0}
.menu-list .item .item-r ul li{border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:1px 0 0 1px}
.menu-list .item .item-r ul li:nth-child(1),.menu-list .item .item-r ul li:nth-child(2){border-top-width:0}
.flex-group{display:flex;flex-direction:row;justify-content:center}
.flex-group>li{flex-grow:1}
.btn-block{display:block;width:100%}
.btn-mini{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:14px;height:36px;line-height:34px;padding:0 12px;border-radius:4px;border:1px solid transparent;margin:5px auto;text-align:center;cursor:pointer;color:#666;background-color:transparent;-webkit-transition:background-color .3s ease-out,border-color .3s ease-out;transition:background-color .3s ease-out,border-color .3s ease-out}
.yui-modal-overlay{background-color:rgba(0,0,0,.4);height:100%;width:100%;position:fixed;top:0;left:0;z-index:1000}
.yui-modal{display:none;background-color:#fff;width:270px;height:auto;border:1px solid rgba(0,0,0,.2);border-radius:8px;position:fixed;z-index:1001;left:50%;top:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%)}
.yui-modal.in{display:block}
.yui-modal-content{padding:40px 15px}
.yui-modal-content .yui-modal-title{font-size:18px;text-align:center;font-weight:500;color:#333}
.yui-modal-content .yui-modal-text{text-align:center;margin-top:5px;color:#999;max-height:200px;overflow:auto}
.yui-modal-content .yui-modal-input{margin-top:5px}
.yui-modal-btnGroup{border-top:1px solid rgba(0,0,0,.2)}
.yui-modal-btnGroup ul li{border-left:1px solid rgba(0,0,0,.2);padding:3px 0}
.yui-modal-btnGroup ul li .btn-mini{margin:0;color:#666}
.yui-modal-btnGroup ul li .btn-sure{color:#2bb7ab}
.yui-modal-btnGroup ul li:first-child{border-left:none}
.yui-message{display:none;background-color:rgba(0,0,0,.4);color:#fff;text-align:center;border-radius:12px;padding:15px;position:fixed;z-index:1000;left:50%;top:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%)}
.yui-message.in{display:block}
#wrapper{position:absolute;z-index:1;top:140px;bottom:0;left:-9999px;width:100%;overflow:auto}
#scroller{position:absolute;z-index:1;-webkit-tap-highlight-color:transparent;width:100%;padding:0}
#pullDown,#pullUp{background:#fff;height:40px;line-height:40px;padding:5px 10px;border-bottom:1px solid #ccc;font-weight:700;font-size:14px;color:#888;border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;border-width:0 0 1px 0}
#pullDown .pullDownIcon,#pullUp .pullUpIcon{display:block;float:left;width:40px;height:40px;background:url(../Company/project/images/pull-icon.png) 0 0 no-repeat;-webkit-background-size:40px 80px;background-size:40px 80px;-webkit-transition-property:-webkit-transform;-webkit-transition-duration:250ms}
#pullDown .pullDownIcon{-webkit-transform:rotate(0) translateZ(0)}
#pullUp .pullUpIcon{-webkit-transform:rotate(-180deg) translateZ(0)}
#pullDown.flip .pullDownIcon{-webkit-transform:rotate(-180deg) translateZ(0)}
#pullUp.flip .pullUpIcon{-webkit-transform:rotate(0) translateZ(0)}
#pullDown.loading .pullDownIcon,#pullUp.loading .pullUpIcon{background-position:0 100%;-webkit-transform:rotate(0) translateZ(0);-webkit-transition-duration:0s;-webkit-animation-name:loading;-webkit-animation-duration:2s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear}
@-webkit-keyframes loading{from{-webkit-transform:rotate(0) translateZ(0)}
to{-webkit-transform:rotate(360deg) translateZ(0)}
}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn{cursor:not-allowed;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:.65}
a,input,label[for],select,textarea{-webkit-tap-highlight-color:rgba(0,0,0,.3)}
.tips-error{color: red;background-color: #eee;padding: 5px 15px;font-size: 12px;}
